* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#background-stars {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.star {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    mix-blend-mode: screen;
}

:root {
    --zoom: ;

    --mercury-size: 1.5rem;
    --venus-size: 2.2rem;
    --earth-size: 2.5rem;
    --moon-size: 0.5rem;
    --mars-size: 2rem;
    --jupiter-size: 3.5rem;
    --saturn-size: 3rem;
    --uranus-size: 3rem;
    --neptune-size: 3rem;
}

#zoom-slider {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2rem;
    z-index: 1;
    appearance: none;
    -webkit-appearance: none;
    width: 20rem;
    height: 15px;
    border-radius: 5px;  
    background: #ff510079;
    outline: none;
    overflow: visible;
}

body {
    height: 100vh;
    background-image: radial-gradient(circle at top left, rgb(0, 43, 99), rgb(0, 21, 39), rgb(0, 11, 17));
    overflow: hidden;
}

#main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#solar-system {
    transition: transform 200ms ease;
    transform: scale(var(--zoom));
}

#solar-system-container {
    transform: rotateX(70deg);
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-shared {
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    position: absolute;
    transform-origin: center;
    border-radius: 50%;
    animation-name: rotation-animation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.celestial-body-shared {
    border-radius: 50%;
    overflow: visible;
    animation-name: planet-correction-3d;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#star {
    transform: rotateX(-70deg);
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: #ff4500;
    box-shadow: 0 0 50px #ff4500;
}

/* Mercury */
#mercury-container {
    height: 12rem;
    width: 12rem;
    border: 1px solid #ffffff27;
    animation-duration: 8s;
}

#mercury {
    width: var(--mercury-size);
    height: var(--mercury-size);
    animation-duration: 8s;
}

/* Venus */
#venus-container {
    height: 17rem;
    width: 17rem;
    border: 1px solid #ffffff27;
    animation-duration: 11s;
}

#venus {
    width: var(--venus-size);
    height: var(--venus-size);
    animation-duration: 11s;
}

/* Earth */
#earth-container {
    height: 24rem;
    width: 24rem;
    border: 1px solid #ffffff27;
    animation-duration: 14s;
}

#earth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--earth-size);
    height: var(--earth-size);
    animation-duration: 14s;
}

#moon-container {
    height: 4rem;
    width: 4rem;
    border: 1px solid #ffffff27;
    animation-duration: 5s;
}

#moon {
    width: var(--moon-size);
    height: var(--moon-size);
    transform: translateY(-50%);
}

/* Mars */
#mars-container {
    height: 31rem;
    width: 31rem;
    border: 1px solid #ffffff27;
    animation-duration: 16s;
}

#mars {
    width: var(--mars-size);
    height: var(--mars-size);
    animation-duration: 16s;
}

/* Juptier */
#jupiter-container {
    height: 38rem;
    width: 38rem;
    border: 1px solid #ffffff27;
    animation-duration: 20s;
}

#jupiter {
    width: var(--jupiter-size);
    height: var(--jupiter-size);
    animation-duration: 20s;
}

/* Saturn */
#saturn-container {
    height: 46rem;
    width: 46rem;
    border: 1px solid #ffffff27;
    animation-duration: 25s;
}

#saturn {
    width: var(--saturn-size);
    height: var(--saturn-size);
    animation-duration: 25s;
}

/* Uranus */
#uranus-container {
    height: 53rem;
    width: 53rem;
    border: 1px solid #ffffff27;
    animation-duration: 34s;
}

#uranus {
    width: var(--uranus-size);
    height: var(--uranus-size);
    animation-duration: 34s;
}

/* Neptune */
#neptune-container {
    height: 60rem;
    width: 60rem;
    border: 1px solid #ffffff27;
    animation-duration: 45s;
}

#neptune {
    width: var(--neptune-size);
    height: var(--neptune-size);
    animation-duration: 45s;
}

@keyframes rotation-animation {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes planet-correction-3d {
    0% {
        transform: rotateX(-70deg) rotateY(0) translateY(-20%) scale(0.7);
    }
    25% {
        transform: rotateX(-90deg) rotateY(90deg) translateX(50%);
    }
    50% {
        transform: rotateX(-90deg) rotateY(180deg) translateY(20%) scale(1.2);
    }
    75% {
        transform: rotateX(-90deg) rotateY(270deg) translateX(-50%);
    }
    100% {
        transform: rotateX(-70deg) rotateY(360deg) translateY(-20%) scale(0.7);
    }
}