* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#background-stars {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.planet-focus {
    width: 5rem !important;
    height: 5rem !important;
    box-shadow: 0 0 15px white;
}

.sun-focus {
    width: 8rem !important;
    height: 8rem !important;
    background-color: transparent !important;
    box-shadow: 0 0 15px white !important;
}

.planet {
    transition: all 500ms ease;
}

.star {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    mix-blend-mode: screen;
}

:root {
    --zoom: ;
    --playState: ;

    --mercury-size: 1.5rem;
    --venus-size: 2.2rem;
    --earth-size: 2.5rem;
    --moon-size: 0.5rem;
    --mars-size: 2rem;
    --jupiter-size: 3.5rem;
    --saturn-size: 3rem;
    --uranus-size: 3rem;
    --neptune-size: 3rem;
}

#playback-controls {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 6rem;
    filter: brightness(0) invert(1);
}

#play-button {
    transform: translateX(0);
    transition: all 200ms ease;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    opacity: 1;
    width: 5rem;
    height: 5rem;
    visibility: visible;
}

#pause-button {
    transform: translateX(0);
    transition: all 200ms ease;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    opacity: 1;
    width: 5rem;
    height: 5rem;
    visibility: visible;
}

.hide {
    z-index: 2 !important;
    opacity: 0 !important;
    transform: translateX(5rem) !important;
    visibility: hidden !important;
}

.zoom-slider-container {
    position: absolute;
    z-index: 100;
    top: 12rem;
    left: -10rem;
    transform: rotateZ(-90deg);
    width: fit-content;
    height: 2.4rem;
    border-radius: 2.4rem;  
    background: #ffffff4d;
    box-shadow: 0 0 15px #ffffff4d;
    display: flex;
    justify-content: center;
    align-items: center;
}

#zoom-slider {
    -webkit-appearance: none !important;
    border-radius: 1rem;
    width: 20rem;
    height: 0.3rem;
    background-color: #c0edff;
    border: none;
    outline: none;
}

#zoom-slider::-webkit-slider-thumb {
    cursor: pointer;
    -webkit-appearance: none !important;
    width: 4rem;
    height: 4rem;
    background-image: url('assets/images/saturn.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat

}

.zoom-button {
    margin: 0.2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    transform: rotateZ(90deg);
}

.zoom-icon {
    width: 2rem;
    height: 2rem;
    filter: brightness(0) invert(1);
}

@font-face {
    font-family: "Agelast";
    src: url("assets/fonts/Agelast.otf");
}

body {
    height: 100vh;
    background-image: radial-gradient(circle at top left, rgb(0, 43, 99), rgb(0, 21, 39), rgb(0, 11, 17));
    overflow: hidden;
    font-family: Agelast;
}

#main {
    transform: perspective(1000px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#solar-system {
    position: fixed;
    width: fit-content;
    height: fit-content;
    user-select: none;
    transition: transform 200ms ease;
    transform: scale(var(--zoom));
    cursor: grab;
    z-index: 1;
}

#solar-system-container {
    position: fixed;
    transform: rotateX(70deg) rotateY(-15deg);
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-shared {
    transform-style: preserve-3d;
    position: absolute;
    display: flex;
    justify-content: center;
    transform-origin: center;
    border-radius: 50%;
    animation-name: rotation-animation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: var(--playState);
}

#planet-names {
    transition: all ease 500ms;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.5rem;
    height: 3rem;
    background-color: #ffffff4d;
    box-shadow: 0 0 15px #ffffff4d;
    border-radius: 2rem;
}

#planet-names div {
    border-right: 1px solid rgba(0, 238, 255, 0.753);
    cursor: pointer;
    transition: all ease 200ms;
    padding: 0 0.5rem 0 0.5rem;
}

#planet-names div:last-of-type {
    border: none;
}

#planet-names div:hover {
    transform: translateY(-0.2rem);
    filter: drop-shadow(0 0 5px white);
}

.celestial-body-shared {
    border-radius: 50%;
    animation-name: planet-correction-3d;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: var(--playState);
}

#sun {
    transform: rotateX(-70deg);
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: #ff4500;
    box-shadow: 0 0 50px #ff4500;
}

/* Mercury */
#mercury-container {
    height: 12rem;
    width: 12rem;
    border: 1px solid #ffffff27;
    animation-duration: 8s;
    animation-delay: -5s;
}

#mercury {
    position: absolute;
    z-index: 10;
    width: var(--mercury-size);
    height: var(--mercury-size);
    animation-duration: 8s;
    animation-delay: -5s;
}

/* Venus */
#venus-container {
    height: 17rem;
    width: 17rem;
    border: 1px solid #ffffff27;
    animation-duration: 11s;
    animation-delay: -2s;
}

#venus {
    width: var(--venus-size);
    height: var(--venus-size);
    animation-duration: 11s;
    animation-delay: -2s;
}

/* Earth */
#earth-container {
    height: 24rem;
    width: 24rem;
    border: 1px solid #ffffff27;
    animation-duration: 14s;
    animation-delay: -10s;
}

#earth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--earth-size);
    height: var(--earth-size);
    animation-duration: 14s;
    animation-delay: -10s;
    border-radius: 50%;
}

#moon-container {
    height: 4rem;
    width: 4rem;
    border: 1px solid #ffffff27;
    animation-duration: 5s;
}

#moon {
    width: var(--moon-size);
    height: var(--moon-size);
    transform: translateY(-50%);
}

/* Mars */
#mars-container {
    height: 31rem;
    width: 31rem;
    border: 1px solid #ffffff27;
    animation-duration: 16s;
    animation-delay: -1s;
}

#mars {
    width: var(--mars-size);
    height: var(--mars-size);
    animation-duration: 16s;
    animation-delay: -1s;
}

/* Juptier */
#jupiter-container {
    height: 38rem;
    width: 38rem;
    border: 1px solid #ffffff27;
    animation-duration: 20s;
    animation-delay: -18s;
}

#jupiter {
    width: var(--jupiter-size);
    height: var(--jupiter-size);
    animation-duration: 20s;
    animation-delay: -18s;
}

/* Saturn */
#saturn-container {
    height: 46rem;
    width: 46rem;
    border: 1px solid #ffffff27;
    animation-duration: 25s;
    animation-delay: -15s;
}

#saturn {
    width: var(--saturn-size);
    height: var(--saturn-size);
    animation-duration: 25s;
    animation-delay: -15s;
}

/* Uranus */
#uranus-container {
    height: 53rem;
    width: 53rem;
    border: 1px solid #ffffff27;
    animation-duration: 34s;
    animation-delay: -25s;
}

#uranus {
    width: var(--uranus-size);
    height: var(--uranus-size);
    animation-duration: 34s;
    animation-delay: -25s;
}

/* Neptune */
#neptune-container {
    height: 60rem;
    width: 60rem;
    border: 1px solid #ffffff27;
    animation-duration: 45s;
    animation-delay: -10s;
}

#neptune {
    width: var(--neptune-size);
    height: var(--neptune-size);
    animation-duration: 45s;
    animation-delay: -10s;
}

@keyframes rotation-animation {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes planet-correction-3d {
    0% {
        transform: rotateX(-70deg) rotateY(0) translateY(-20%) scale(0.7);
    }
    25% {
        transform: rotateX(-90deg) rotateY(90deg) translateX(50%);
    }
    50% {
        transform: rotateX(-90deg) rotateY(180deg) translateY(20%) scale(1.2);
    }
    75% {
        transform: rotateX(-90deg) rotateY(270deg) translateX(-50%);
    }
    100% {
        transform: rotateX(-70deg) rotateY(360deg) translateY(-20%) scale(0.7);
    }
}